<!DOCTYPE html>

<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Afrika Vet</title>
    <link href="~/Content/styles.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
    <nav>
        <input type="checkbox" id="check"/>
        <label for="check" class="checkbtn">
            <i class="fas fa-bar"></i>
        </label>
        <label class="logo">
            Afrika
        </label>
        <ul>
            <li><a href="/Home/Index">Home</a></li>
            <li><a href="/Home/Index">Appointments</a></li>
            <li><a href="~/Clients/Index">Clients</a></li>
            <li><a href="~/Patients/Index">Patients</a></li>
            <li><a href="~/Doctors/Index">Doctors</a></li>
            <li><a href="~/Rooms/Index">Rooms</a></li>
        </ul>
    </nav>
    <section></section>
</body>
</html>
